<!-- templates/dropbox/image.html.twig -->

{% if app.environment == 'prod' %}
    <img src="{{ temporaryLink }}" alt="Image from Dropbox">
    <p>Temporary Link: {{ temporaryLink }}</p>
{% else %}
    <img src="{{ asset('images/product/1.png') }}" alt="Image from localhost" class="card-img-top" style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px 10px 0 0;">
{% endif %}

<h1>Uploader une image sur Dropbox</h1>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="image" />
    <button type="submit">Uploader</button>
</form>